{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT:android:XXXXXXXX",
        "android_client_info": {
          "package_name": "com.limonpos.app"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_API_KEY"
        }
      ]
    }
  ]
}
